<div class="container">
  <a routerLink=""><div class="project-name">Event Quest</div></a>

  <!-- <div class="background-image"></div> -->
  <div class="signup-form">
    <h2>SignUp</h2>
    <form (ngSubmit)="signup()" autocomplete="off" ngNativeValidate>
      <div class="form-group">
        <input
          class="input"
          type="text"
          id="firstname"
          name="firstname"
          [(ngModel)]="signupForm.firstname"
          placeholder="Enter your First Name"
          required
        />
        <label for="firstname" class="label">First Name</label>
      </div>
      <div class="form-group">
        <input
          class="input"
          type="text"
          id="lastname"
          name="lastname"
          [(ngModel)]="signupForm.lastname"
          placeholder="Enter your Last Name"
          required
        />
        <label for="lastname" class="label">Last Name</label>

      </div>
      <div class="form-group">
        <input
        class="input"
          type="email"
          id="email"
          name="email"
          [(ngModel)]="signupForm.email"
          placeholder="Enter your Email"
          required
        />
        <label for="email" class="label">Email</label>

      </div>
      <div class="form-group dob-group">
        <label for="dob"> <em>Date of Birth:</em> </label>
        <input
          type="date"
          id="dob"
          name="dob"
          [(ngModel)]="signupForm.birth"
          required
        />
      </div>
      <div class="form-group radio-group">
        <label style="margin-left: 10px; margin-bottom: 0px">
          <em>Gender:</em>
        </label>
        <div>
          <input
            type="radio"
            id="male"
            name="gender"
            value="Male"
            [(ngModel)]="signupForm.gender"
            required
          />
          <label for="male">Male</label>
        </div>
        <div>
          <input
            type="radio"
            id="female"
            name="gender"
            value="Female"
            [(ngModel)]="signupForm.gender"
            required
          />
          <label for="female">Female</label>
        </div>
        <div>
          <input
            type="radio"
            id="others"
            name="gender"
            value="Others"
            [(ngModel)]="signupForm.gender"
            required
          />
          <label for="others">Others</label>
        </div>
      </div>
      <div class="form-group">
        <input
        class="input"
          type="password"
          id="password"
          name="password"
          [(ngModel)]="signupForm.password"
          placeholder="Create a new Password"
          required
        />
        <label for="password" class="label">Password</label>

      </div>
      <div class="form-group">
        <input
        class="input"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          placeholder="Re-enter your Password"
          required
        />
        <label for="confirmPassword" class="label">Confirm Password</label>

      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <div class="login">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="redirectToLogin()"
      >
        <i>Already a User? Login</i>
      </button>
    </div>
  </div>
</div>


